.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}

.title-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title{
    font-size: 23px;
    font-weight: 700;
    color: #000;
}

.price{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.description .main{
    overflow-wrap: anywhere;
}

.description .description-text{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-align: center;
}

.description span{
    background-color: #FFF;
    padding: 0 10px;
}

.add-cart-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-cart-container button{
    padding: 10px;
    border: none;
    background-color: rgb(90, 90, 200);
    color: #FFF;
    cursor: pointer;
}

.add-cart-container button:hover{
    background-color: rgb(62, 62, 206);
}

.sizes-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sizes{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.sizes p{
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    cursor: pointer;
}

.sizes p:hover{
    border: 2px solid #5A5AC8;
}

.buy-btn{
    display: inline-block;
    padding: 10px 0;
    color: #FFF;
    background-color: rgb(90, 90, 200);
    border: none;
    cursor: pointer;
}

.buy-btn:hover{
    background-color: rgb(62, 62, 206);
}