.container{
    width: 100%;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

.nav-bar ul{
    display: flex;
    gap: 10px;   
    list-style: none; 
}

.nav-bar ul li{
    position: relative;
    display: flex;
    height: 60px;
    margin: -10px 0;
    align-items: center;
}

.functionalities-container{
    display: flex;
    gap : 20px;
    align-items: center;
}

.functionalities-container img,
.functionalities-container a{
    width: 20px;
    height: 20px;
}

.logo-title{
    font-size: 32px;
    text-decoration: none;
    color: #000;
}

@media (max-width: 767px) {
    .logo-title{
        display: none;
    }
}