.container{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.container span::after {
    content: "/";
    text-align: center;
    padding-bottom: 12px;
    width: 9px;
    height: 9px;
    display: block;
}

.container a{
    color: #5a5a5a;
    text-decoration: none;
    font-size: 16px;
}