.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 40px;
    align-content: center;
}

.branch-cards-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    justify-content: center;
    margin: 0 -40px;
    width: auto;
    background-color: #F5F5F5;
}

.branch-cards-container::-webkit-scrollbar {
    background: #FFF;
    width: 2px;
    height: 6px;
}
.branch-cards-container::-webkit-scrollbar-thumb:horizontal {
    background: rgb(70, 69, 69);
    border-radius: 10px;
}

@media (max-width: 768px){

}